@(message: String)
@main("Welcome to Play 2.3") {


<body>
<div class="container">
			<div class="button">
		 		<a href="@routes.Application.page1" class="btn btn-default">Start Over</a>
			</div>

<h1>Who needs a tent anyway!</h1>
<article>
<p>You are determined not to be deterred by this minor set-back. </p>
<p>The next morning you set off again to follow the footprints you found yesterday.</p>

<a href="@routes.Application.page9" class="btn btn-default">Continue</a></p>
</article>

</div>

<div class="image">
	<img src='@routes.Assets.at("images/Foot.jpg")' alt="Chase">
</div>
	</body>
}