@(message: String)
@main("Welcome to Play 2.3") {

<body>
<div class="container">
			<div class="button">
		 		<a href="@routes.Application.page1" class="btn btn-default">Start Over</a>
			</div>

<h1>Nothing is going to stop you!</h1>
<article>
<p>Determined not to be distracted from your ultimate quest to find Bigfoot, you keep following the footprints.</p>
<p>You follow them for hours, going deeper and deeper into the steep foot hills of the mountains.</p>
<p>You slog through swampy mud pits, tall grass, and thorny briars with equal amounts of excitement and enthusiasm.</p>
<p>Upon reaching the first summit of the misty mountain peak you pause in awe - and because you are out of shape. </p>

<a href="@routes.Application.page15" class="btn btn-default">And there you see it.</a>

</div>
	</body>
}