@(message: String)
@main("Welcome to Play 2.3") {

<body>

<div class="container">
			<div class="button">
		 		<a href="@routes.Application.page1" class="btn btn-default">Start Over</a>
			</div>

<h1>You Ignore it like a Champ</h1>
<article>
<p>The footsteps are getting closer,</p>
<p>but you being the trooper that you are, have done an exceptional job of ignoring them.</p>
<p>This hasn’t at all discouraged the thing but has in fact caused it to grow bolder in its deadly hunt.</p>
<p>You are probably being stalked by a puma, or a bear and are running out of options in getting away from it.</p>
<p>Do you want to <a href="@routes.Application.page5" class="btn btn-default">Try running away.</a></p>
<p>Or would you feel more confident <a href="@routes.Application.page10" class="btn btn-default">Trying to scare it?</a></p> 
</article>

</div>
	</body>
}