@(message: String)
@main("Welcome to Play 2.3") {

<body>
<div class="container">
			<div class="button">
		 		<a href="@routes.Application.page1" class="btn btn-default">Start Over</a>
			</div>

<h1>You never liked Bigfoot anyway</h1>
<article>
<p>The next morning you pack up your belongings, go home, and send out the stack of job applications you were ignoring.</p>
<p>Through hard work and dedication, you become a successful individual who has excellent standing in the community.</p>
<p>You stuck to your financial plans and paid off your student loans early, and have a lovely family.</p>
<p>A few years later you hear rumor that some deranged hobo came out of the woods</p>
<p>raving about how they claimed to have seen Bigfoot out in the Misty Mountains.</p>
<p>Although the picture the hobo provided was published in the local paper,</p>
<p>most people admit that the only discernable object in the blurry picture  . . .</p>
<p>appears to be a pair of fuzzy pink bunny slippers.</p>
<p>You have successfully survived this adventure. Congratulations.</p>
<a href="@routes.Application.page1" class="btn btn-default"> ---> Restart Adventure</a></p>
</article>

<div class="image">
	<img src='@routes.Assets.at("images/Surprise.jpg")' alt="Bigfoot">
</div>

<a href="@routes.Application.page16" class="btn btn-default"> ~ Bonus Content ~ </a></p>

</div>
	</body>
}